.container {
  display: grid;
  grid-template-columns: repeat(2, 100px 200px); /* Neste caso foi definido para criar duas colunas de 100px e duas colunas de 200px. 

  */
  gap: 10px 30px;
}
.item {
  background-color: #0000FF;
  border-radius: 10px;
  padding: 20px;
  color: #FFF;
  font-size: 20px;
}